body {
  padding-top: 70px;
}

.hero-section {
  height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/hero-section.jpg");
  background-size: cover;
  background-position: center;
}
