.navbar.gym-navbar.navbar-dark .navbar-brand {
  color: #fd9e76;   /* jo color chaho */
}

.gym-navbar .navbar-brand {
  font-size: 22px;
  letter-spacing: 1px;
  color: #f8f9fa;
}

.gym-navbar .nav-link {
  color: #cccccc;
  font-weight: 500;
  font-size: 19px;
  position: relative;
  padding-bottom: 5px;
}

/* underline */
.gym-navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fd9e76;

  /* animation magic */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

/* hover effect */
.gym-navbar .nav-link:hover::after,
.gym-navbar .nav-link.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.gym-navbar .btn-danger {
  background-color: #ff3c3c;
  border-radius: 6px;
  padding: 8px 18px;
}

.gym-navbar .btn-danger:hover {
  background-color: #e63636;
}

.gym-navbar {
  transition: box-shadow 0.3s ease;
}

.gym-navbar.scrolled {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.dashboard-link {
    color: #ff9f76;
    font-size: 15px;
}

.dashboard-link:hover {
    color: #ffffff;
}